@import "./assets/styles/app.css";

/* globals.css */
:root {
    --neon-blue: #00d0ff;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* Add Animations */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 2s ease-out;
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out;
  }
  
  .animate__delay-1s {
    animation-delay: 1s;
  }
  
  .animate__delay-2s {
    animation-delay: 2s;
  }
  
  /* Colors */
  .bg-neon-blue {
    background-color: var(--neon-blue);
  }
  
  .text-neon-blue {
    color: var(--neon-blue);
  }
  
  .hover\:bg-neon-blue:hover {
    background-color: var(--neon-blue);
  }
  
  .hover\:text-neon-blue:hover {
    color: var(--neon-blue);
  }
  
  /* Button Hover Effects */
  button:hover {
    transform: scale(1.05);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 208, 255, 0.5);
  }
  
  /* Form Inputs */
  input, textarea {
    border-radius: 8px;
    padding: 10px;
  }
  
  input:focus, textarea:focus {
    border-color: var(--neon-blue);
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 208, 255, 0.5);
  }
  
  /* Neon Border */
  .border-neon-blue {
    border: 4px solid var(--neon-blue);
  }

  /* Home.css */
.text-neon {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  }
  